{
  "$schema": "https://json.schemastore.org/appsettings.json",
  "ConnectionStrings": {
    "RoadmapDatabase": "mongodb://localhost:27018"
  },
  "MongoDB": {
    "RoadmapDatabaseName": "sync_roadmap"
  },
  "Roadmap": {
    "Seed": {
      "Enabled": true,
      "SeedDemoData": true
    }
  }
}
