{
  "$schema": "https://json.schemastore.org/appsettings.json",
  "ConnectionStrings": {
    "NotificationDatabase": "mongodb://localhost:27018"
  },
  "MongoDB": {
    "NotificationDatabaseName": "sync_notification"
  }
}
